<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    />
    <title>
      Free Bootstrap Admin Template : Binary Admin
    </title>
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'
    type='text/css' />
  </head>
  
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="index.html">WebOdonto</a>
        </div>
        <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
          Nome do Usuário &nbsp;
          <a href="#" class="btn btn-danger square-btn-adjust">Sair</a>
        </div>
      </nav>
      <!-- /. NAV TOP -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            &nbsp;
            <li class="text-center">
              <!-- <img src="assets/img/find_user.png" class="user-image img-responsive"/>
            </li>
            -->
            <li>
              <a class="active-menu" href="index.html"><i class="fa fa-qrcode fa-3x"></i> Início </a>
            </li>
            <li>
              <a href="#"><i class="fa fa-sitemap fa-3x"></i> Cadastros <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="cadastroPessoa.html">Pessoa</a>
                </li>
                <li>
                  <a href="cadastroConvenio.html">Convênio</a>
                </li>
                <li>
                  <a href="cadastroProcedimento.html">Procedimento</a>
                </li>
                <li>
                  <a href="cadastroMedicamento.html">Medicamento</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="agenda.html"><i class="fa fa-desktop fa-3x"></i> Agenda</a>
            </li>
            <li>
              <a href="atendimento.html"><i class="fa fa-bar-chart-o fa-3x"></i> Atendimento</a>
            </li>
            <li>
              <a href="relatorios.html"><i class="fa fa-qrcode fa-3x"></i> Relatórios</a>
            </li>
            <!-- <li>
                        <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>       
          
                             
                     
                  <li  >
                        <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li> -->
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE -->
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h2>
                AGENDAR
              </h2>
              <h5>
                Faça o agendamento de seus atendimentos
              </h5>
              
              
              <!-- BOTÃO AGENDAR -->
               <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Agendar</button>

              <!-- ESCOLHA DE DENTISTA-->
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dentistas
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">João</a></li>
                    <li><a href="#">Thiago</a></li>
                    <li><a href="#">Lucas</a></li>
                    <li><a href="#">Pedro</a></li>
                  </ul>
              <!-- FIM - ESCOLHA DENTISTA-->
                  
              <!-- MODO DE EXIBIÇÃO-->
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Modo de Exibição
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Dia</a></li>
                    <li><a href="#">Semanal</a></li>
                    <li><a href="#">Mês</a></li>
                    <li><a href="#">Ano</a></li>
                  </ul>
              <!-- FIM - MODO DE EXIBIÇÃO-->

              </div></div>

              <!-- CONTEUDO BOTÃO AGENDAR-->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                          &times;
                        </span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        Agendar
                      </h4>
                    </div>
                    <div class="modal-body">
                       <a class="btn btn-primary" data-toggle="collapse" href="#atendimento" aria-expanded="false" aria-controls="atendimento">
                         Atendimento
                       </a>
                       <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                         Avaliação
                       </button>
                       
                       <!-- CONTEUDO ATENDIMENTO-->
                       <div class="collapse" id="atendimento">
                        <form role="form">
                        	<div class="form-group">
                        		<label>
                              Paciente
                            </label>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Digite a sua busca"
                              />
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  Busca
                                </button>
                              </span>
                            </div>
                            </div>
                           </form>

                          
                         	<!-- NUMERO E STATUS-->
                         	<div class="panel-body">
													  <div class="row">
													    <label>
													      Numero
													    </label>
													    <input type="text" class="form-control-sm" />
													    <label>
													      Status
													    </label>
													    <input type="text" class="form-control-sm" />
													  </div>
													</div>
                                                      
                            
                            <br />

                         	
                            
                         <div class="well">
                             <table class="table">
                               <thead>
                                 <tr>
                                   <th>X</th>
                                   <th>Nome do Procedimento</th>
                                   <th>Qtd</th>
                                   <th>Status</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr>
                                   <td><input type="checkbox"></td>
                                 </tr>
                                 <tr>
                                   <td><input type="checkbox"></td>
                                 </tr>
                                 <tr>
                                   <td><input type="checkbox"></td>
                                 </tr>
                                 <tr>
                                   <td><input type="checkbox"></td>
                                 </tr>
                               </tbody>
                             </table>
                           </div>
                           
                         
                       </div>
                       <!-- FIM CONTEUDO ATENDIMENTO -->

                       <!-- CONTEUDO AVALIAÇÃO-->
                       <div class="collapse" id="collapseExample">
                         
                           <div class="panel panel-default">
                           
                           	<div class="panel-body">
													  
                           		<label>
                              Data Avaliação
                            </label>
                            <input type="number" min="1" max="30" step="1" />
                            /
                            <input type="number" min="1" max="12" step="1" />
                            /
                            <input type="number" min="1000" max="9999" step="1" />

													  <br />
													    <label>
                              Paciente
                            </label>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Digite a sua busca"
                              />
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  Busca
                                </button>
                              </span>
                            </div>
                            <br />

                            <label>
                              Dentista
                            </label>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Digite a sua busca"
                              />
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  Busca
                                </button>
                              </span>
                            </div>
													  
													</div>

                           </div>
                         
                       </div>
                       <!-- FIM CONTEUDO AVALIAÇÃO-->


                      <br />
                      <br />
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">
                        Fechar
                      </button>
                      <button type="button" class="btn btn-primary">
                        Finalizar Agendamento
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIM CONTEUDO AGENDAR-->
							</div>
						
						<!-- Fechamento das div class="btn-group" role="group" -->
						</div>
						
						
              
              


              
              <div class="col-md-12">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <form role="form">
                      </form>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            Paciente
                          </th>
                          <th>
                            Motivo
                          </th>
                          <th>
                            Hora
                          </th>
                          <th>
                            Status
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            Claudia
                          </td>
                          <td>
                            Avaliação
                          </td>
                          <td>
                            10:00
                          </td>
                          <td>
                            Concluido
                          </td>
                          <td>
                            <img src="assets/img/check.png" class="img-responsive" alt="Responsive image">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Danilo
                          </td>
                          <td>
                            Consulta
                          </td>
                          <td>
                            11:00
                          </td>
                          <td>
                            Pendente
                          </td>
                          <td>
                            <img src="assets/img/pendente2.png" class="img-responsive" alt="Responsive image">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- /. ROW -->
        </div>
        <!-- /. PAGE INNER -->
      </div>
      <!-- /. PAGE WRAPPER -->
    </div>
    <!-- /. WRAPPER -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js">
            
    </script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js">
            
    </script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js">
            
    </script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js">
            
    </script>



  </body>

</html>